body{
    background-color: black;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#countBtn{
    font-weight: bold;
    background-color:white;
    border: none;
    border-radius: 5em;
    width: 23em;
    margin-bottom: 3em;
}
.inputBox{
    resize: none;
}
#result{
    color:white;
}